@import url('https://fonts.googleapis.com/css?family=Domine:400,400i,700');

body {
  margin: 0 auto;
  padding: 2rem;
  max-width: 32rem;
  font-family: 'Domine', sans-serif;
  line-height: 1.5rem;
}

h1,h2,h3 { margin: 2rem 0; }

h1 {
  font-size: 2rem;
  line-height: 2.4rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.8rem;
}

h3 {
  font-size: 1.17rem;
  line-height: 1.5rem;
}

footer {
  display: flex;
  justify-content: space-between;
}

img {
  width: 100%;
}

img + em {
  display: block;
}