---
---

$line-height-multiplier: 1.666;
$font-size-multiplier: 1.333;
$base-font-size: 1rem;
$h4-font-size: $base-font-size * $font-size-multiplier;
$h3-font-size: $h4-font-size * $font-size-multiplier;
$h2-font-size: $h3-font-size * $font-size-multiplier;
$h1-font-size: $h2-font-size * $font-size-multiplier;

@mixin line-height($font-size) {
  line-height: $font-size * $line-height-multiplier;
}

body {
  margin: 0 auto;
  padding: 1rem;
  max-width: 48rem;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: $base-font-size;
  @include line-height($base-font-size)
}

h1,h2,h3,h4,h5,h6,dt {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: $h1-font-size;
  @include line-height($h1-font-size);
}
h2 {
  font-size: $h2-font-size;
  @include line-height($h2-font-size);
}
h3 {
  font-size: $h3-font-size;
  @include line-height($h3-font-size);
}
h4 {
  font-size: $h4-font-size;
  @include line-height($h4-font-size);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

dl {
  dt {
    font-weight: bold;
  }
}

img + em {
  display: block;
}

.page.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "prev next";

  a[rel="prev"] {
    grid-area: prev;
    text-align: left;
  }

  a[rel="next"] {
    grid-area: next;
    text-align: right;
  }
}