---
---

$line-height-multiplier: 1.333;
$font-size-multiplier: 1.333;
$base-font-size: 1rem;
$h4-font-size: $base-font-size * $font-size-multiplier;
$h3-font-size: $h4-font-size * $font-size-multiplier;
$h2-font-size: $h3-font-size * $font-size-multiplier;
$h1-font-size: $h2-font-size * $font-size-multiplier;

@mixin line-height($font-size) {
  line-height: $font-size * $line-height-multiplier;
}

body {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1280px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: $base-font-size;
  @include line-height($base-font-size)
}

h1,h2,h3,h4,h5,h6,dt {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: $h1-font-size;
  @include line-height($h1-font-size);
}
h2 {
  font-size: $h2-font-size;
  @include line-height($h2-font-size);
}
h3 {
  font-size: $h3-font-size;
  @include line-height($h3-font-size);
}
h4 {
  font-size: $h4-font-size;
  @include line-height($h4-font-size);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

dl {
  dt {
    font-weight: bold;
  }
}

code {
  font-family: 'DM Mono', monospace;
}

hr {
  border: none;
  border-top: 0.25rem double;
  overflow: visible;
  text-align: center;
  margin: 12.5vh 0;
  height: 0;
}

hr:after {
  background-color: #ffffff;
  border: 0.25rem double;
  border-radius: 50%;
  content: '§';
  font-size: 1rem;
  padding: 0 0.5rem 0.25rem 0.5rem;
  position: relative;
  top: -0.9rem;
}

img {
  max-height: 480px;
  margin: 0 auto;
}

img + em {
  display: block;
}

.page.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "prev next";

  a[rel="prev"] {
    grid-area: prev;
    text-align: left;
  }

  a[rel="next"] {
    grid-area: next;
    text-align: right;
  }
}

pre.highlight {
  padding: 1rem;
}

.post {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas:
    "header-left header-left header-right header-right"
    "content-left content-middle content-middle content-right"
}

.post > .presentation {
  grid-area: header-left;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.presentation > iframe {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.post > .deck {
  grid-area: header-right;
}

.post > .content {
  grid-area: content-middle;
}

.reveal.deck {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.reveal p:has(> img), .reveal p > img {
  margin: 0;
}

.reveal p:has(> img) + p:has(> em) {
  font-size: medium;
}