body {
    margin: 3rem auto;
    max-width: 60ch;
    font-family: "Inter", sans-serif;
    line-height: 2rem;
}

.breadcrumb.navigation {
    font-size: smaller;
    .arrow {
        padding: 0 0.5rem;
    }
}