<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <section>
      <header>
        <h1><a href="/">{{ site.title }}</a></h1>
        <h2>Posts</h2>
        {% include navigation_posts.html posts=site.posts %}
        <h2>Collections</h2>
        {% include navigation_collections.html %}
        <h2>Projects</h2>
        {% include navigation_projects.html %}
      </header>
    </section>
    <article>
      <section>
        {{content}}
      </section>
    </article>
  </body>
</html>