<!doctype html>
<html lang="en">
  {% assign collection = site.collections | where: "label", page.collection | first %}
  <head>
    {% include head.html title=collection.title %}
  </head>
  <body>
    <section>
      <header>
        <h1><a href="/">{{ site.title }}</a></h1>
        <h2>{{ collection.title }}</h2>
        {% assign posts = site[collection.label] %}
        {% include navigation_posts.html posts=posts %}
      </header>
    </section>
    <article>
      <header>
        <h1>{{ page.title }}</h1>
      </header>
      <section>
        {{content}}
      </section>
      <footer>
        {% include navigation_page.html page=page %}
      </footer>
    </article>
  </body>
</html>